{% extends "baseadmin.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <form class="form" action="./1/" method="post" name="form1" id="form1" >
            {% csrf_token %}





                <div class="modal-dialog modal-dialog-scrollable" >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{subject}}</h5>
                          <p class="align-right">{{time}}</p>
                        <a  class="btn-close" data-dismiss="modal" href="/adminmain/" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </a>
                      </div>
                      <div class="modal-body">

                          <p class="text-center">{{content}}</p>

                          <div>
                              <p>版主回覆</p>
                              <div class="text-center">
                                   <textarea  name="boardresponse" class="col-8" rows=8></textarea>
                              </div>

                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                      </div>
                    </div>
                </div>



        </form>
    </div>









{% endblock %}